* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

a { 
    text-decoration: none;
}

nav .center-items{
    display: flex;
    justify-content: space-around;
    height: 3em;
    padding: 1em;
    box-shadow: 0px 7px 5px 0px rgb(176, 174, 174)
}

nav .center-items ul li {
    display: inline;
    margin: 0 15px;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
}

main div h2 {
    font-size: 3em;
    margin: 5px 0px;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
}

main div button {
    background: none;
    color: inherit;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;  
}